/*simple*/
.ren {
    height: 300px;
    width: 300px;
    background-image: conic-gradient(red,yellow,blue);
}
/*division*/
.sam {
    height: 200px;
    width: 250px;
    background-image: conic-gradient(red 60deg, blue 90deg,yellow 210deg);
}
/*pie chart*/
.sr {
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#F76E11 0deg, #F76E11 90deg,#E04DB0 90deg,#E04DB0 200deg,#5902EC 270deg,#5902EC 20deg);
    
}