/*simple*/
.first {
    height: 250px;
    width: 250px;
    background-image: radial-gradient(red,gold, green);
}
/*division*/
.sec {
    height: 250px;
    width: 250px;
    background-image: radial-gradient(red 10%,orange 50%, pink 60%);
}
/*by shape*/
.third {
    height: 200px;
    width: 200px;
    background-image: radial-gradient(circle,purple, yellow,blue);

}