.wrapper {
    height: 250px;
    width: 500px;
    background-color: darkgray;
   /* overflow: visible; this allow to show thge all contant to show outside the div.*/
   /*overflow: hidden;
   this hides the content outside of the div .*/
   /*overflow: scroll;
   this is used to see the rest of content of box.
   it adds tha scrollbar alltime.*/
   overflow: auto;
   /*this adds the scroll only when needed.*/


}
