.block {
    background-color: gold;
    height: 300px;
    width: 300px;
    display: block;
    padding: 20px;
    margin: 20px;
}
.inline-block {
    background-color:hotpink;
    height: 300px;
    width: 300px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
}
