.wraper {
    padding: 20px;
    display: inline-block;
} 

.section {
    padding: 20px;
    width: 250px;
    background-color: darkkhaki;
    border: 2px solid black;
}
.section img {
    
    width: 250px;
    height: auto;
    border: 2px solid black;

}
.section h1 {
    text-align: center;
    color: midnightblue;
}
.section p {
    text-align: center;
    color: black;
}
.section button {
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    background-color:aqua;
    font-size: 20px
    
}