

/* unvisited*/
a:link {
   color: crimson;
}
/*visited*/
a:visited {
    color: black;
}
/*hover*/
a:hover {
    color: fuchsia;
    font-size: 20px;
}
/*selected link*/
a:active {
   color: green;
}
/*hover*/
.class h1 {
    padding: 20px;
    text-align: center;
    color: brown;
    background-color: aqua;
}
.class h1:hover {
    color: crimson;
    background-color: chartreuse;
}
/*tooltip element*/
.class p {
    display: none;
    border-radius: 10px;
    color: blue;
    padding: 10px;
    background-color: cadetblue;
}
.class:hover p {
    display: block;
}
/*child elements*/
ul li:first-child{
    color: lime;
}
ul li:last-child {
    color:red;
}
ul li:nth-child(3) {
    color: blue;
}
.num ol li:nth-child(odd) {
    color: darkorange;
}
.list ol li:not(.item) {
    color: magenta;
}
/*lang */
q:lang(Sameer) {
    quotes: '*' '*';
}




