div {
    margin: 20px;
    padding: 20px;
    border: 5px solid black;
    text-align: center;
    
}
.first {
    color: blue;
    background-color: blanchedalmond;
}
.sec{
    color: rgb(17, 233, 107);
}
.third {
    color:#FF008E;
    background-color:#85F4FF;
}
.four {
    color: rgb(191, 89, 64);
}
.five {
    color: rgba(255,100, 190, 100%);
    background-color:#42C2FF;
}
.six {
    color: #03045e;
    background-color: #548CFF;
}
.seven {
    color: hsla(100, 50, 40%,80% );
    background-color: aqua;
}
