body {
   
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
}
.container {
    background-color: aqua;
    padding: 10px;
    font-size: 0;
}
.inline-block {
    font-size: 20px;
    display: inline-block;
    width: 50%;
   
}

.first h2 {
    text-align: center;
}
.first input {
   
   padding: 20px;
    border: solid 10px rgb(255, 0, 157);
    border-radius: 50px;
    color: blue;
    background-color: chartreuse;
    text-align: center;
}
.first{ 
    text-align: center;
}
.second {
    text-align: center;
}